@import "tailwindcss";

@theme {
  --color-carbonblack: #1f2421;
  --color-stormyteal: #216869;
  --color-seeweed: #49a078;
  --color-mutedteal: #9cc5a1
  --color-alablastergrey: #dce1de;
}

body {
  background-color: #09090b;
}